@(playerForm: Form[PlayerForm])(implicit messages: play.i18n.Messages)

@title("Sign in") {
  <section id="content">
    <div class="wrapper doc">
      <article>
        <h1>Create your account</h1>
        @helper.form(action = routes.AccountController.saveNewPlayer()) {
          <span>Choose a username</span>
          @helper.inputText(playerForm("username"))
          <span>Choose a password and repeat it</span>
          @helper.inputPassword(playerForm("password1"))
          @helper.inputPassword(playerForm("password2"))

          <input type="submit">
        }
      </article>
      <aside>
      @sidebar()
      </aside>
    </div>
  </section>
}