@title("Sign in") {
  <section id="content">
    <div class="wrapper doc">
      <article>
        <h1>Create your account</h1>
        <form>
          <label for="fname">Pseudo:</label><br>
          <input type="text" id="fname" name="fname"><br>
          <label for="pwd0">Password:</label><br>
          <input type="text" id="pwd0" name="pwd0"><br>
          <label for="pwd1">Repeat password:</label><br>
          <input type="text" id="pwd1" name="pwd1"><br>
          <input type="submit" value="Create account">
        </form>
      </article>
      <aside>
      @sidebar()
      </aside>
    </div>
  </section>
}