@title("HEIG game") {
  <section id="content">
    <div class="wrapper doc">
      <article>
        <h1>Fight in Ultimate Pop-culture battle !!</h1>

        <h3>Decks constitution</h3>
        <p>
          In a deck, you have to put at least 20 cards. Each card has a maximum quantity. You also have to choose between a base in 1, 2 or 3 parts.
          Add a Hero to your Deck forces you to add 2 more cards.
        </p>

        <h3>Card types</h3>
        <p>Each card types differentiates from each other by its background color.</p>
        <h4>Bases</h4>
        <p>The goal of the game is to destroy opponent's bases. The Bases cannot move or attach and inflict no defense damages.</p>
        <h4>Units</h4>
        <p>Units are normal cards and the most numerous ones. They have all some life and attack points. They have no special powers or effects.</p>
        <h4>Vehicles</h4>
        <p>Vehicles are similar but can be placed directly on the central row. After that, they move and attack exactly like Units.</p>
        <h4>Spies</h4>
        <p>A Spy is placed on the opponent row and rallies his side. After that, the player draws 2 new cards from his deck.</p>
        <h4>Heroes</h4>
        <p>A Hero can attack and move like a Unit but has a special power, active or passive.</p>
        <p>Powers are:
          <ul>
            <li>Precision Strike: if the target's health is equal or lesser than half Hero's one, the card kills it without damage.</li>
            <li>Distance Strike: instead of a normal attack, the card can perform an attack on any row, inflicting half normal damage but without defense damage.</li>
            <li>Healing: instead than attack, the card can regain up to 50 percent of its life points.</li>
            <li>Double Strike: the card can attack twice a turn.</li>
            <li>Incineration: when placed, the card destroys the most powerful opponent's ones (Heroes excepted).</li>
            <li>Whip Strike: instead of a normal attack, the card can force an opponent's one to advance or move back.</li>
          </ul>
        In current state of the game, <b>Ahsoka Tano</b> has the Precision Strike, <b>Aloy</b> the Distance Strike, <b>V</b> the Healing,
        <b>Jon Snow</b> the Double Strike, <b>Geralt of Rivia</b> the Incineration and <b>Indiana Jones</b> the Whip Strike.
        </p>

        <h3>Gameplay</h3>
        <p>Goal is to destroy opponent's bases.</p>
        <p>At each turn, you can :
          <ul>
            <li>Place new cards. You can place 1 card per base card in your deck (it doesn't change when a base is destroyed).</li>
            <li>Move and attack with cards already on the board.</li>
          </ul>
        </p>
        <p>Rows have maximal capacity. The central row can contain 6 cards at most, the player row 3 cards per base card. You cannot move cards on the opponent's row.</p>
        <p>To attack, click on your card then on the target. A card can attack an opponent's one on the same row or one forward. An attacked card always defend itself, powers
        don't apply in defense.</p>
        <p>If you don't do an action during 45 seconds, your turn ends. To end a turn, you can press on the red button. When you have done all possible actions,
        it switches automatically.</p>
      </article>
      <aside>
      @sidebar()
      </aside>
    </div>
  </section>
}